# Local .terraform directories
**/.terraform/*
# !.terraform/providers

# Terraform archive if present
terraform.zip

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log

# Exclude override files as they are usually local
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Terraform variable files with sensitive data
*.tfvars
*.tfvars.json

# Terraform plan output
*.plan

# Ignore CLI configuration files
.terraformrc
terraform.rc

# Ignore powershell scripts
*.ps1
